*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
input{
    margin-bottom: 20px;
    padding: 10px 18px;
    box-sizing: border-box;
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    width: 100%;
}
textarea{
    margin-bottom: 10px;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}
label{
    padding: 10px 18px;
    padding-left: 0;
    float: left;
}
#postButton{
    width: 30%;
}